@charset "utf-8";
/* CSS Document */

.hidden
{
    display: none;
}
/*need to make container and center it*/

#container
{
    width: 960px;
    margin: 0 auto;
}

.logo
{
    background-color: #75687a;
    display: flex;
    flex-direction: row;
}

#logo
{
    width: 195px;
    height: 195px;
    margin-left: 30px;
}

#mainNav
{
    margin-top: 20px;
    margin-left: 350px;
}

#mainNav
{
    display: inline-block;
    transition-duration: $defaultDuration;
    transition-property: transform;

    @include hideTapHighlightColor();
    @include hardwareAccel();
    @include improveAntiAlias();
}

#mainNav:hover
{
    transform: translateY(5px);
}

#mainNav ul
{
    width: 300px;
    color: #fff;
}

#mainNav ul li
{
    padding: 15px;
    border-bottom: 5px solid;
    border-top: 5px solid;
}

#mainNav ul li:first-child
{
    border-top: none;
}

#mainNav ul li:last-child
{
    border-bottom: none;
}

.sechidden
{
	display: 20px;
    margin-left: 10px;
    margin-top: 70px;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

#container
{
    width: 650px;
    height: 40px;    
    margin-top: auto;
    padding-left: 100px;
    padding-right: 10px;
}

.image-icon 
{
	width: 13%;
	height: 20px; 
	margin: 20px;
	display: inline-block;
}

img 
{
	width: 100%;
	display: inline-block;
}


/*target svg by it's id and set the hover pseudo class (what happens when user mouses over)*/

#jpgIcon:hover
{
    filter: blur(5px);

}
#jpgIcon2:hover
{
    filter: blur(5px);

}

#jpgIcon3:hover
{
    filter: blur(5px);

}

#jpgIcon4:hover
{
    filter: blur(5px);

}

#jpgIcon5:hover
{
    filter: blur(5px);

}

#jpgIcon6:hover
{
    filter: blur(5px);

}

#jpgIcon7:hover
{
    filter: blur(5px);

}

#jpgIcon8:hover
{
    filter: blur(5px);

}

#jpgIcon9:hover
{
    filter: blur(5px);

}

#jpgIcon10:hover
{
    filter: blur(5px);

}


#mainFooter
{
    width: 650px;
    height: 100px;
    background-color: #75687a;
    margin-left: 100px;
    margin: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
}

